.profile__edit-btn {
  margin: 7px 0 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__edit-btn:hover {
  opacity: 0.5;
}

@media (min-width: 765px) {
  .profile__edit-btn {
    margin: 14px 0 0;
  }
}