.profile__edit-btn {
  margin: 7px 0 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.3s ease-in-out;
}

.profile__edit-btn:active {
  border: none;
  outline: none;
}

.profile__edit-btn:focus {
  border: none;
  outline: none;
}

.profile__edit-btn:hover {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .profile__edit-btn {
    margin: 14px 0 0;
  }
}