.popup__cross {
  align-self: flex-end;
  width: 37px;
  height: 37px;
  background: center / cover url('../../../images/сlose-icon.svg') no-repeat;
  border: none;
  margin-bottom: 13px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.popup__cross:focus {
  border: none;
  outline: none;
}

.popup__cross:active {
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .popup__cross {
    width: 56px;
    height: 56px;
    margin: 0 -48px -6px 0;
  }

  .popup__cross:hover {
    opacity: 0.5;
  }
}